In [2]:
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os

In [4]:
df = pd.read_csv(os.path.join('..','divorce_data.csv'),sep=";")
df.head()

,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,...,Q46,Q47,Q48,Q49,Q50,Q51,Q52,Q53,Q54,Divorce
0,2,2,4,1,0,0,0,0,0,0,...,2,1,3,3,3,2,3,2,1,1
1,4,4,4,4,4,0,0,4,4,4,...,2,2,3,4,4,4,4,2,2,1
2,2,2,2,2,1,3,2,1,1,2,...,3,2,3,1,1,1,2,2,2,1
3,3,2,3,2,3,3,3,3,3,3,...,2,2,3,3,3,3,2,2,2,1
4,2,2,1,1,1,1,0,0,0,0,...,2,1,2,3,2,2,2,1,0,1

In [5]:
# Assign X (data) and y (target)
X = df.drop("Divorce", axis=1)
y = df["Divorce"]
print(X.shape, y.shape)

(170, 54) (170,)

In [6]:
#Split our data into training and testing
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [7]:
#Create a Logistic Regression Model
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression()

In [8]:
#Fit (train) or model using the training data
classifier.fit(X_train, y_train)

LogisticRegression()

In [9]:
#Validate the model using the test data
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

Training Data Score: 1.0
Testing Data Score: 0.9534883720930233

In [10]:
#Make predictions
predictions = classifier.predict(X_test)
print(f"First 10 Predictions:   {predictions[:10].tolist()}")
print(f"First 10 Actual labels: {y_test[:10].tolist()}")

First 10 Predictions:   [1, 0, 1, 1, 0, 0, 0, 1, 0, 0]
First 10 Actual labels: [1, 0, 1, 1, 0, 0, 0, 1, 0, 0]

In [11]:
pd.DataFrame({"Prediction": predictions, "Actual": y_test}).reset_index(drop=True)

    Prediction  Actual
0            1       1
1            0       0
2            1       1
3            1       1
4            0       0
5            0       0
6            0       0
7            1       1
8            0       0
9            0       0
10           1       1
11           0       1
12           0       0
13           0       0
14           1       1
15           0       0
16           0       0
17           0       0
18           0       0
19           0       0
20           1       1
21           1       1
22           0       0
23           1       1
24           0       0
25           1       1
26           0       0
27           1       1
28           0       0
29           1       1
30           1       1
31           0       0
32           0       1
33           0       0
34           1       1
35           1       1
36           1       1
37           0       0
38           1       1
39           1       1
40           1       1
41           0       0
42           1       1